<div id="divv">
  <div class="card mb-3" id="CardAzienda">
    <div class="row g-0">
      <div class="col-md-4">
        <img [src]="immagine1" class="img-fluid " alt="..." id="imgAzienda">
      </div>
      <div class="col-md-8">
        <div class="card-body" id="descrizioneAzienda">
          <h5 class="card-title">Card title</h5>
          <p class="card-text">
            Lorem ipsum dolor sit amet consectetur, adipisicing elit. Eos nostrum delectus quam voluptatibus, facere excepturi vitae obcaecati porro rem. Dolorem libero rem aliquam, maxime similique distinctio beatae officiis autem reprehenderit.
            This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Vel eius ex eaque aut excepturi esse at et explicabo sequi, natus asperiores necessitatibus quas omnis in, repudiandae labore ipsum, veniam nemo.
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Distinctio pariatur provident odio expedita voluptate, corporis repellendus, rem assumenda molestias unde corrupti sit culpa sed ullam eaque vel modi. Voluptatem, incidunt?
          </p>
          <button type="button" class="btn btn-primary" id="buttonSend">
            <i class="bi bi-send" id="mex"></i>
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
