<style>
  #div{
    border: 3px solid black;
    height: 50px;
    width: 1440px;
  }

  #nav{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-content: center;
    padding-top: 10px;
  }

  #list{
    background-color: cornflowerblue;
    color: black;
  }
</style>


<div>
  <nav aria-label="Page navigation example" id="nav" routerLink="/Paginazione">
    <ul class="pagination" id="list">
      <li class="page-item">
        <a class="page-link" href="#" aria-label="Previous">
          <span aria-hidden="true">&laquo;</span>
        </a>
      </li>
      <li class="page-item"><a class="page-link" href="#">1</a></li>
      <li class="page-item"><a class="page-link" href="#">2</a></li>
      <li class="page-item"><a class="page-link" href="#">3</a></li>
      <li class="page-item">
        <a class="page-link" href="#" aria-label="Next">
          <span aria-hidden="true">&raquo;</span>
        </a>
      </li>
    </ul>
  </nav>
</div>
