#container{
  display: grid;
  grid-template-columns: 720px 720px;
  grid-template-rows: 700px 700px;
}

.item1{
  border: 3px, solid, black;
}

.immagineCarousel{
  color: black;
  padding-left: 5px;
}

img{
  width: 720px;
  height: 370px;
}
