#dropdowns{
  display: flex;
  flex-direction: row;
  justify-content: left;
  border: 3px, solid, black;
  width: 1440px;
  height: 52.5px;
  border-top: none;
  gap: 10px;
  }

  #dropdownButton{
    margin-right: 55px;
    margin-left: 55px;
    margin-bottom: 0px;
    width: 120px;
    height: 50px;
    background-color: aqua;
    color: black;
    border: none;

  }
