<style>
  #dropdowns{
  display: flex;
  flex-direction: row;
  justify-content: left;
  border: 3px, solid, black;
  width: 1440px;
  height: 52.5px;
  border-top: none;
  gap: 10px;
  }

  #dropdownButton{
    margin-right: 55px;
    margin-left: 55px;
    margin-bottom: 0px;
    width: 120px;
    height: 50px;
    background-color: aqua;
    color: black;
    border: none;

  }

</style>



<!--<div id="dropdowns">
  <div
       class="dropdown"
       id="dropdownCategories">
        <button
         class="btn btn-secondary dropdown-toggle"
         type="button"
         data-bs-toggle="dropdown"
         aria-expanded="false"
         id="dropdownButton"
         *ngFor="let categoria of categories">
          {{categoria}}
        </button>
        <ul class="dropdown-menu" [ngSwitch]="categories">
          <li *ngSwitchCase="'ELETTRONICA'">
            <a class="dropdown-item" *ngFor="let sottocategoria of sottoCategory1" href="#">{{sottocategoria}}</a>
          </li>
          <li *ngSwitchCase="'MODA'">
            <a class="dropdown-item" *ngFor="let sottocategoria of sottoCategory2" href="#">{{sottocategoria}}</a>
          </li>
          <li *ngSwitchCase="'CASA'">
            <a class="dropdown-item" *ngFor="let sottocategoria of sottoCategory3" href="#">{{sottocategoria}}</a>
          </li>
          <li *ngSwitchCase="'BELLEZZA'">
            <a class="dropdown-item" *ngFor="let sottocategoria of sottoCategory4" href="#">{{sottocategoria}}</a>
          </li>
          <li *ngSwitchCase="'SPORT'">
            <a class="dropdown-item" *ngFor="let sottocategoria of sottoCategory5" href="#">{{sottocategoria}}</a>
          </li>
          <li *ngSwitchCase="'CULTURA'">
            <a class="dropdown-item" *ngFor="let sottocategoria of sottoCategory6" href="#">{{sottocategoria}}</a>
          </li>
        </ul>
      </div>
</div>-->

<!--<div id="dropdowns" *ngFor="let cat of categoriesDropdowns">
  <div class="dropdown" id="dropdownCategories">
    <button
      class="btn btn-secondary dropdown-toggle"
      type="button"
      data-bs-toggle="dropdown"
      aria-expanded="false"
      id="dropdownButton">
      {{ cat.name }}
    </button>
    <ul class="dropdown-menu">
      Itera su tutte le sottocategorie della categoria corrente
      <li *ngFor="let subcategory of cat.category1">
        <a class="dropdown-item" href="#">{{ subcategory }}</a>
      </li>
      <li *ngFor="let subcategory of cat.category2">
        <a class="dropdown-item" href="#">{{ subcategory }}</a>
      </li>
      <li *ngFor="let subcategory of cat.category3">
        <a class="dropdown-item" href="#">{{ subcategory }}</a>
      </li>
      <li *ngFor="let subcategory of cat.category4">
        <a class="dropdown-item" href="#">{{ subcategory }}</a>
      </li>
      <li *ngFor="let subcategory of cat.category5">
        <a class="dropdown-item" href="#">{{ subcategory }}</a>
      </li>
      <li *ngFor="let subcategory of cat.category6">
        <a class="dropdown-item" href="#">{{ subcategory }}</a>
      </li>
    </ul>
  </div>
</div>-->


<div class="dropdown" id="dropdowns">
  <div *ngFor="let cat of categoriesDropdowns">
    <button
      class="btn btn-secondary dropdown-toggle"
      type="button"
      data-bs-toggle="dropdown"
      aria-expanded="false"
      id="dropdownButton">
      {{ cat.name }}
    </button>
    <ul class="dropdown-menu">
      <li *ngFor="let subcategory of cat.subcategories">
        <a class="dropdown-item" routerLink="/Paginazione">
          {{ subcategory }}
        </a>
      </li>
    </ul>
  </div>
</div>


