<style>
  #mainContainer{
    display: grid;
    width: 1440px;
    height: auto;
    border: 3px solid black;
    grid-template-areas: 'firstContainer secondContainer thirdContainer';
  }

  #firstContainer{
    color: black;
    background-color: cornflowerblue;
    grid-area: firstContainer;
    height: auto;
    width: 470px;
  }

  #secondContainer{
    color: black;
    background-color: cornflowerblue;
    grid-area: secondContainer;
    height: auto;
    width: 470px;
  }

  #thirdContainer{
    color: black;
    background-color: cornflowerblue;
    grid-area: thirdContainer;
    height: auto;
    width: 470px;
  }


</style>

<div id="mainContainer">
  <!--Primo container-->
  <div id="firstContainer">
    <div class="accordion" id="accordionPanelsStayOpenExample">
      <div class="accordion-item">
        <h2 class="accordion-header" style="font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;">
          <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseOne" aria-expanded="true" aria-controls="panelsStayOpen-collapseOne">
            CREDENZIALE
          </button>
        </h2>
        <div id="panelsStayOpen-collapseOne" class="accordion-collapse collapse show">
          <div class="accordion-body">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsum molestias provident sint. Corrupti placeat officiis libero facilis. Earum alias eius dolorum, in aut officia optio tempora non voluptas beatae doloremque.
          </div>
        </div>
      </div>
      <div class="accordion-item">
        <h2 class="accordion-header" style="font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;">
          <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseTwo" aria-expanded="false" aria-controls="panelsStayOpen-collapseTwo">
            CREDENZIALE
          </button>
        </h2>
        <div id="panelsStayOpen-collapseTwo" class="accordion-collapse collapse">
          <div class="accordion-body">
            Lorem ipsum, dolor sit amet consectetur adipisicing elit. Provident veniam deserunt natus fuga magnam omnis aspernatur mollitia laudantium reiciendis dignissimos fugit, possimus consequatur corrupti, sed autem quae voluptatibus voluptates laborum?
          </div>
        </div>
      </div>
      <div class="accordion-item">
        <h2 class="accordion-header" style="font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;">
          <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseThree" aria-expanded="false" aria-controls="panelsStayOpen-collapseThree">
            CREDENZIALE
          </button>
        </h2>
        <div id="panelsStayOpen-collapseThree" class="accordion-collapse collapse">
          <div class="accordion-body">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Asperiores, totam molestiae at ipsam reiciendis nemo necessitatibus quam iure nam aliquid sit veritatis animi deserunt eaque? Inventore ut excepturi aliquam laudantium!
          </div>
        </div>
      </div>
    </div>
    <!---->
    <div class="accordion" id="accordionPanelsStayOpenExample">
      <div class="accordion-item">
        <h2 class="accordion-header" style="font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;">
          <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseOne" aria-expanded="true" aria-controls="panelsStayOpen-collapseOne">
            INFO
          </button>
        </h2>
        <div id="panelsStayOpen-collapseOne" class="accordion-collapse collapse show">
          <div class="accordion-body">
            Lorem ipsum dolor sit, amet consectetur adipisicing elit. Quam repudiandae blanditiis quis! Ratione illum voluptate aliquid reprehenderit laboriosam doloribus quidem quo minima! Ducimus dicta porro ab consequuntur deleniti corrupti! Explicabo.
          </div>
        </div>
      </div>
      <div class="accordion-item">
        <h2 class="accordion-header" style="font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;">
          <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseTwo" aria-expanded="false" aria-controls="panelsStayOpen-collapseTwo">
            INFO
          </button>
        </h2>
        <div id="panelsStayOpen-collapseTwo" class="accordion-collapse collapse">
          <div class="accordion-body">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Officiis iste veniam repellat voluptatibus minima quia culpa, voluptate fugit pariatur perferendis. Eligendi delectus sequi nostrum quas libero mollitia, amet dolores laboriosam.
          </div>
        </div>
      </div>
      <div class="accordion-item">
        <h2 class="accordion-header" style="font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;">
          <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseThree" aria-expanded="false" aria-controls="panelsStayOpen-collapseThree">
            INFO
          </button>
        </h2>
        <div id="panelsStayOpen-collapseThree" class="accordion-collapse collapse">
          <div class="accordion-body">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Consequatur blanditiis maxime, consequuntur nulla mollitia esse voluptas iure ipsam minus enim exercitationem voluptate repellendus. Incidunt laudantium ducimus tenetur error at officiis?
          </div>
        </div>
      </div>
    </div>
    <!---->
    <div class="accordion" id="accordionPanelsStayOpenExample">
      <div class="accordion-item">
        <h2 class="accordion-header" style="font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;">
          <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseOne" aria-expanded="true" aria-controls="panelsStayOpen-collapseOne">
            TERMINI/CONDIZIONI
          </button>
        </h2>
        <div id="panelsStayOpen-collapseOne" class="accordion-collapse collapse show">
          <div class="accordion-body">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Rerum accusamus illo ratione blanditiis aperiam velit, et eligendi nihil saepe, odit tenetur repudiandae tempora nobis fugit modi, natus atque placeat voluptates.
          </div>
        </div>
      </div>
      <div class="accordion-item">
        <h2 class="accordion-header" style="font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;">
          <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseTwo" aria-expanded="false" aria-controls="panelsStayOpen-collapseTwo">
            TERMINI/CONDIZIONI
          </button>
        </h2>
        <div id="panelsStayOpen-collapseTwo" class="accordion-collapse collapse">
          <div class="accordion-body">
            Lorem ipsum dolor sit, amet consectetur adipisicing elit. Repellat laboriosam nostrum, corporis, quam reiciendis nemo libero temporibus veritatis voluptates amet, sint deleniti eaque voluptatum nesciunt itaque porro voluptatem asperiores nobis!
          </div>
        </div>
      </div>
      <div class="accordion-item">
        <h2 class="accordion-header" style="font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;">
          <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseThree" aria-expanded="false" aria-controls="panelsStayOpen-collapseThree">
            TERMINI/CONDIZIONI
          </button>
        </h2>
        <div id="panelsStayOpen-collapseThree" class="accordion-collapse collapse">
          <div class="accordion-body">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Labore enim quisquam cumque fugit iste voluptatibus in consequuntur, minima excepturi, vel, iure suscipit eos veritatis est fuga ducimus nihil dolorum similique.
          </div>
        </div>
      </div>
    </div>
  </div>
  <!--Second container-->
  <div id="secondContainer">
    <div class="accordion" id="accordionPanelsStayOpenExample">
      <div class="accordion-item">
        <h2 class="accordion-header" style="font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;">
          <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseOne" aria-expanded="true" aria-controls="panelsStayOpen-collapseOne">
            ORDINI
          </button>
        </h2>
        <div id="panelsStayOpen-collapseOne" class="accordion-collapse collapse show">
          <div class="accordion-body">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Saepe recusandae dolorum eius labore sunt perspiciatis aut, officiis ipsa molestiae enim in non magnam accusamus, sint itaque, pariatur aperiam porro sed?
          </div>
        </div>
      </div>
      <div class="accordion-item">
        <h2 class="accordion-header" style="font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;">
          <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseTwo" aria-expanded="false" aria-controls="panelsStayOpen-collapseTwo">
            SPEDIZIONI
          </button>
        </h2>
        <div id="panelsStayOpen-collapseTwo" class="accordion-collapse collapse">
          <div class="accordion-body">
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Repellendus tempora corporis itaque, odit aperiam facere vel similique repellat accusamus ullam dolore. Unde vel, debitis tempore deserunt possimus aspernatur accusamus laudantium.
          </div>
        </div>
      </div>
      <div class="accordion-item">
        <h2 class="accordion-header" style="font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;">
          <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseThree" aria-expanded="false" aria-controls="panelsStayOpen-collapseThree">
            STORICO
          </button>
        </h2>
        <div id="panelsStayOpen-collapseThree" class="accordion-collapse collapse">
          <div class="accordion-body">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Sit sapiente saepe ipsam error cum laudantium, amet natus praesentium magnam at omnis tempore officiis! Magnam fugit nam qui fuga fugiat. Quia.
          </div>
        </div>
      </div>
    </div>
    <!---->
    <div class="accordion" id="accordionPanelsStayOpenExample">
      <div class="accordion-item">
        <h2 class="accordion-header" style="font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;">
          <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseOne" aria-expanded="true" aria-controls="panelsStayOpen-collapseOne">
            WISHLIST
          </button>
        </h2>
        <div id="panelsStayOpen-collapseOne" class="accordion-collapse collapse show">
          <div class="accordion-body">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Commodi culpa dolores, dolorum praesentium, nobis ea inventore facilis error aliquam harum non. Numquam ut porro nesciunt necessitatibus consequatur sunt laborum doloremque?
          </div>
        </div>
      </div>
      <div class="accordion-item">
        <h2 class="accordion-header" style="font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;">
          <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseTwo" aria-expanded="false" aria-controls="panelsStayOpen-collapseTwo">
            REVIEWS
          </button>
        </h2>
        <div id="panelsStayOpen-collapseTwo" class="accordion-collapse collapse">
          <div class="accordion-body">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Reprehenderit quam enim maiores unde temporibus eos? Consectetur accusamus inventore voluptatibus quae tempora, perferendis fuga voluptatum, facere consequatur saepe id recusandae a?
          </div>
        </div>
      </div>
      <div class="accordion-item">
        <h2 class="accordion-header" style="font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;">
          <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseThree" aria-expanded="false" aria-controls="panelsStayOpen-collapseThree">
            ARCHIVIO
          </button>
        </h2>
        <div id="panelsStayOpen-collapseThree" class="accordion-collapse collapse">
          <div class="accordion-body">
            Lorem, ipsum dolor sit amet consectetur adipisicing elit. Necessitatibus, cupiditate itaque! Et modi atque dolorem facilis totam maiores temporibus, animi corporis reprehenderit voluptate ex hic, amet, veniam quibusdam. Modi, sit!
          </div>
        </div>
      </div>
    </div>
    <!---->
    <div class="accordion" id="accordionPanelsStayOpenExample">
      <div class="accordion-item">
        <h2 class="accordion-header" style="font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;">
          <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseOne" aria-expanded="true" aria-controls="panelsStayOpen-collapseOne">
            CARRELLO
          </button>
        </h2>
        <div id="panelsStayOpen-collapseOne" class="accordion-collapse collapse show">
          <div class="accordion-body">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Sit, assumenda accusamus modi architecto impedit ipsa, numquam dignissimos saepe quia quos quod ad harum beatae animi cumque aliquid libero porro? Voluptatum!
          </div>
        </div>
      </div>
      <div class="accordion-item">
        <h2 class="accordion-header" style="font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;">
          <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseTwo" aria-expanded="false" aria-controls="panelsStayOpen-collapseTwo">
            COUPON
          </button>
        </h2>
        <div id="panelsStayOpen-collapseTwo" class="accordion-collapse collapse">
          <div class="accordion-body">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Sunt natus error, nostrum amet quo alias laboriosam cumque dicta perferendis inventore debitis dolorum sequi enim tenetur est omnis, ipsa nesciunt repudiandae.
          </div>
        </div>
      </div>
      <div class="accordion-item">
        <h2 class="accordion-header" style="font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;">
          <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseThree" aria-expanded="false" aria-controls="panelsStayOpen-collapseThree">
            PUNTI
          </button>
        </h2>
        <div id="panelsStayOpen-collapseThree" class="accordion-collapse collapse">
          <div class="accordion-body">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. In blanditiis fugiat, pariatur modi laboriosam autem tempora earum, asperiores distinctio recusandae natus quae cum sequi est delectus eaque odit, hic quod?
          </div>
        </div>
      </div>
    </div>
  </div>
  <!--Third container-->
  <div id="thirdContainer">
    <div class="accordion" id="accordionPanelsStayOpenExample" >
      <div class="accordion-item">
        <h2 class="accordion-header" style="font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;">
          <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseOne" aria-expanded="true" aria-controls="panelsStayOpen-collapseOne">
            ALTRO
          </button>
        </h2>
        <div id="panelsStayOpen-collapseOne" class="accordion-collapse collapse show">
          <div class="accordion-body">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Ullam, voluptatem tempore atque voluptates molestiae non aperiam optio corporis incidunt, omnis numquam iusto molestias. Distinctio debitis possimus reprehenderit? At, accusantium sint?
          </div>
        </div>
      </div>
      <div class="accordion-item">
        <h2 class="accordion-header" style="font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;">
          <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseTwo" aria-expanded="false" aria-controls="panelsStayOpen-collapseTwo">
            ALTRO
          </button>
        </h2>
        <div id="panelsStayOpen-collapseTwo" class="accordion-collapse collapse">
          <div class="accordion-body">
            Lorem ipsum dolor sit, amet consectetur adipisicing elit. Voluptatibus, voluptates. Necessitatibus facere quibusdam, perspiciatis eos magni, in iusto ipsam molestiae adipisci explicabo soluta dolorum. Eius dolorem alias vel rem explicabo.
          </div>
        </div>
      </div>
      <div class="accordion-item">
        <h2 class="accordion-header" style="font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;">
          <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseThree" aria-expanded="false" aria-controls="panelsStayOpen-collapseThree">
            ALTRO
          </button>
        </h2>
        <div id="panelsStayOpen-collapseThree" class="accordion-collapse collapse">
          <div class="accordion-body">
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quidem perferendis veniam ea. Eum dicta, autem architecto officiis asperiores incidunt dolorem laborum ex! Doloremque aut omnis quidem deserunt maxime unde ut.
          </div>
        </div>
      </div>
    </div>
    <!---->
    <div class="accordion" id="accordionPanelsStayOpenExample">
      <div class="accordion-item">
        <h2 class="accordion-header" style="font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;">
          <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseOne" aria-expanded="true" aria-controls="panelsStayOpen-collapseOne">
            ALTRO
          </button>
        </h2>
        <div id="panelsStayOpen-collapseOne" class="accordion-collapse collapse show">
          <div class="accordion-body">
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nesciunt neque facilis deleniti vel ab, error minus distinctio eaque in sunt explicabo modi. Ab aliquid natus necessitatibus doloremque labore eum accusantium?
          </div>
        </div>
      </div>
      <div class="accordion-item">
        <h2 class="accordion-header" style="font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;">
          <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseTwo" aria-expanded="false" aria-controls="panelsStayOpen-collapseTwo">
            ALTRO
          </button>
        </h2>
        <div id="panelsStayOpen-collapseTwo" class="accordion-collapse collapse">
          <div class="accordion-body">
            Lorem ipsum dolor sit, amet consectetur adipisicing elit. Illum omnis consequatur labore voluptates facere cum. Nostrum maxime unde exercitationem dignissimos ad officia inventore, quam distinctio, est, numquam tenetur culpa dolorum.
          </div>
        </div>
      </div>
      <div class="accordion-item">
        <h2 class="accordion-header" style="font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;">
          <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseThree" aria-expanded="false" aria-controls="panelsStayOpen-collapseThree">
            ALTRO
          </button>
        </h2>
        <div id="panelsStayOpen-collapseThree" class="accordion-collapse collapse">
          <div class="accordion-body">
            Lorem ipsum dolor sit, amet consectetur adipisicing elit. Laudantium vitae blanditiis eligendi corporis veritatis tempore cumque laboriosam beatae odio tempora deleniti dolore aliquid esse facilis, et repellat, nisi, ad odit.
          </div>
        </div>
      </div>
    </div>
    <!---->
    <div class="accordion" id="accordionPanelsStayOpenExample">
      <div class="accordion-item">
        <h2 class="accordion-header" style="font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;">
          <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseOne" aria-expanded="true" aria-controls="panelsStayOpen-collapseOne">
            ALTRO
          </button>
        </h2>
        <div id="panelsStayOpen-collapseOne" class="accordion-collapse collapse show">
          <div class="accordion-body">
            Lorem ipsum, dolor sit amet consectetur adipisicing elit. Dolor esse sapiente ullam, sint eaque est! Accusamus, cum natus adipisci atque laboriosam nisi. Praesentium saepe veniam placeat fuga, architecto quisquam totam?
          </div>
        </div>
      </div>
      <div class="accordion-item">
        <h2 class="accordion-header" style="font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;">
          <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseTwo" aria-expanded="false" aria-controls="panelsStayOpen-collapseTwo">
            ALTRO
          </button>
        </h2>
        <div id="panelsStayOpen-collapseTwo" class="accordion-collapse collapse">
          <div class="accordion-body">
            Lorem ipsum, dolor sit amet consectetur adipisicing elit. Quae quod, reiciendis ex id, suscipit, porro vitae qui ea amet quas accusamus magni cum sint totam rem aperiam ipsum! Provident, nemo.
          </div>
        </div>
      </div>
      <div class="accordion-item">
        <h2 class="accordion-header" style="font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;">
          <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseThree" aria-expanded="false" aria-controls="panelsStayOpen-collapseThree">
            ALTRO
          </button>
        </h2>
        <div id="panelsStayOpen-collapseThree" class="accordion-collapse collapse">
          <div class="accordion-body">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Incidunt adipisci fugit pariatur dolore et! Eligendi animi aliquam aperiam, commodi itaque ut nulla a dignissimos, reiciendis incidunt sed facilis libero voluptate.
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
