<!--Home-->
<app-header></app-header>
<app-dropdowns></app-dropdowns>
<app-carousel></app-carousel>
<app-carouselseries></app-carouselseries>
<app-footer></app-footer>

<!--Paginazione-->
<app-header></app-header>
<app-dropdowns></app-dropdowns>
<app-filtro></app-filtro>
<app-cardsprodotti></app-cardsprodotti>
<app-countpag></app-countpag>
<app-footer></app-footer>

<!--Prodotto singolo-->
<app-header></app-header>
<app-dropdowns></app-dropdowns>
<app-cardprodotto></app-cardprodotto>
<app-accordionsprodotto></app-accordionsprodotto>
<app-cardazienda></app-cardazienda>
<app-carouselseries></app-carouselseries>
<app-domande-e-risposte></app-domande-e-risposte>
<app-reviews></app-reviews>
<footer></footer>

<!--Profilo utente-->
<app-immagine></app-immagine>
<app-info-credenziali></app-info-credenziali>

<!--Registrazione-->
<app-forms-series></app-forms-series>


