<!--Home-->
<app-home></app-home>

<!--Paginazione-->
<app-paginazione></app-paginazione>

<!--Prodotto singolo-->
<app-prodotto></app-prodotto>

<!--Profilo utente-->
<app-profilo></app-profilo>

<!--Registrazione-->
<app-registrazione></app-registrazione>
<!--Login-->
<app-login></app-login>

<!--Vendita prodotti-->
<app-product-sell></app-product-sell>

<!--Delivery dashboard-->
<app-delivery-dash></app-delivery-dash>

<!--Payment dashboard-->
<app-pay-dash></app-pay-dash>

<!--Admin dashboard-->
<app-admin-dash></app-admin-dash>

<!--Controller dashboard-->
<app-controller-dash></app-controller-dash>
